<div class="col-md-3">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div>
<div class="col-md-6">
  <h1>Welcome to Blurblr</h1>
  <p>The microblogging site with a funny name.</p>
  <%= link_to "Sign Up", new_user_path %> | <%= link_to "Login", "#" %>
</div>
