<article class="blurb">
  <div class="blurb-container">
    <header>
      <%= link_to gravatar_for(blurb.user, size: 50), blurb.user %>
      <span class="fullname">
        <%= link_to blurb.user, blurb.user %>
      </span>
      <span class="username">
        <%= link_to "@#{blurb.user.username}", blurb.user %>
      </span>
      <span class="timestamp">
        - <%= time_ago_in_words(blurb.created_at) %> ago.
      </span>
    </header>
    <p class="content"><%= blurb.content %></p>
    <footer>
      <%= link_to 'Show', blurb %>
      <%= link_to 'Edit', edit_blurb_path(blurb) %>
      <%= link_to 'Destroy', blurb, method: :delete, data: { confirm: 'Are you sure?' } %>
    </footer>
  </div>
</article>
