<%= form_for @blurb, html: {role: 'form'} do |f| %>
  <% if @blurb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blurb.errors.count, "error") %> prohibited this blurb from being saved:</h2>

      <ul>
      <% @blurb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= "hidden" if @blurb.user_id %>">
    <%= f.label :user_id, class: 'control-label' %>
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'control-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class:'btn btn-primary' %>
  </div>
<% end %>
