<article class="user">
  <aside class="follow-bar">
    <% if logged_in? and current_user.is_following?(user) %>
    <button class="btn btn-success">
      <span class="glyphicon glyphicon-check"></span>
      <span class="btn-text">Following</span>
    </button>
    <% else %>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-unchecked"></span>
      <span class="btn-text">Follow</span>
    </button>
    <% end %>
  </aside>
  <div class="user-container">
    <header>
      <%= link_to gravatar_for(user, size: 50), user %>
      <span class="fullname">
        <%= link_to user.fullname, user %>
      </span>
      <span class="username">
        <%= link_to "@#{user.username}", user %>
      </span>
    </header>
    <p class="bio"><%= truncate user.profile.bio, length: 140, separator: ' ' %></p>
    <footer>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </footer>
  </div>
</article>
