<% content_for :sidebar do %>
<div class="well">
  <h3>Sidebar</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li><%= link_to "Link1", "/path1"  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
  </ul>
</div>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<%= render @users %>

<br />
<%= link_to 'New User', new_user_path %>
