<% content_for :sidebar do %>
<div class="well">
  <h3>Sidebar</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li><%= link_to "Link1", "/path1"  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
  </ul>
</div>
<% end %>

<h1>New User</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
