<div class="col-md-3">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
<div class="col-md-6">
  <p id="notice"><%= notice %></p>
  <div class="blurbs">
    <%= render @user.blurbs %>
  </div>
</div>
