<% content_for :sidebar do %>
<div class="well">
  <%= gravatar_for @user, size: 200 %>
  <p>
    <%= @user %>
  </p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
<% end %>

<p id="notice"><%= notice %></p>
<div class="blurbs">
  <%= render @user.blurbs %>
</div>
