<%= form_for :login do |f| %>
  <% if flash[:alert] %>
    <div id="error_explanation">
      <h2>Login Failure:</h2>
      <ul>
        <li><%= flash[:alert] %></li>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Login", class:'btn btn-primary' %>
  </div>
<% end %>
