<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blurblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= render 'layouts/header' %>
  <section class="container">
    <div class="col-md-3">
      <%= yield :sidebar %>
    </div>
    <div class="col-md-6">
      <!--%= flash %-->
      <%= yield %>
    </div>
  </section> <!-- /container -->
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
