<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blurblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header id="layout-header">
    <%= render 'layouts/header' %>
  </header>
  <div class="container">
    <div class="row">
      <aside id="layout-sidebar" class="col-md-3">
        <%= yield :sidebar %>
      </aside>
      <section id="layout-content" class="col-md-6">
        <!--%= flash %-->
        <%= yield %>
      </section>
    </div>
    <div class="row">
      <footer id="layout-footer">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </div><!-- /container -->
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
